@charset "utf-8";
/* CSS Document */
body {
	color: #428bca;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.container{
	width: 100%;
}
.maintop{

	padding:1.5em;
	border-bottom-style: solid;
	border-bottom-width: 5px;
}
.mainsum {
	padding: 1.5em;
	margin-top: 10em;
}
.font-lato-small{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
.resize{
    width:100px; 
    height: auto;
}
.resize_contact{
	width:50px;
	height:auto;
}
.toplinkedin {
	float: right;
}
.mouseover:hover {
	-moz-box-shadow: 0 0 50px rgba(66,139,202,0.63); 
	-webkit-box-shadow: 0 0 50px rgba(66,139,202,0.63); 
	box-shadow: 0 0 50px rgba(66,139,202,0.63);
	cursor:pointer; 
}
.image-circle:hover {
	opacity: .35;
}
footer.row {
	background-color: #428bca;
	color: white;
}
.horzrule {
	border-top: 2px solid #BCBBBB;
}
.modal-body{
	background-color: #F6F6F6;
}
.cap-height {
	min-height: 273.781px;
	max-height: 273.781px;
	width: 100%;
	-webkit-box-shadow: 0px 0px 21px 2px rgba(66,139,202,0.63);
-moz-box-shadow: 0px 0px 21px 2px rgba(66,139,202,0.63);
box-shadow: 0px 0px 21px 2px rgba(66,139,202,0.63);
}
.text-mute-h3 {
	color: rgba(119, 119, 119, 0.36);
}
.text-mute-urls {
	color: rgba(119, 119, 119, 0.78);
}
.resize-main {
	padding-right: 15px;
	padding-left: 15px;
}
.img-circle {
    border-radius: 50%;
    box-shadow: 0px 0px 21px 2px rgba(66,139,202,0.63);
}
.summary{
	margin-bottom:15em;
}
.leftbutton {
	float: left;
}
.summary-text {
	font-size: 1.8em;
	z-index: -1;
}
@media (max-width: 992px) {
  .maintop {
    max-height: 142px;
  }
  .name{
  	top:-100px;
  	float:right;
  	padding-bottom: 10px;
  }
}
@media (max-width: 510px) {
  .name{
  	top:-120px;
  	width: 50%;
  }
}
@media (max-width: 494px) {
  .name{
  	top:-135px;
  	width: 50%;
  	font-size: 1em;
  }
}
#header {
	position: fixed;
	top:0px;
	z-index: 1;
	background-color: white;
	width: 100%;
	transition: all 0.4s ease;
}
.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.ulgeneral {
  list-style-type: none;
}

